@model OCFG.Models.Association

<h1>Actualizar Asociación</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2 class="text-center">Editar información de asociación</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <form action="Association/Edit" method="post" role="form" style="display: block;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Información General</h4>

                        <div class="row">
                            <h5 class="col-md-6">Código de Registro:</h5>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.RegistryCode, new { htmlAttributes = new { @class = "form-control" , @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.RegistryCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <h5 class="col-md-3">Nombre:</h5>
                            <div class="col-md-5">
                                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <h5 class="col-md-3">Cantón:</h5>
                            <div class="col-md-5">
                                @Html.DisplayFor(model => model.Canton, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Canton, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <h5 class="col-md-3">Región:</h5>
                            <div class="col-md-5">
                                @Html.DisplayFor(model => model.Region, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <h5 class="col-md-3">Provincia:</h5>
                            <div class="col-md-5">
                                @Html.DisplayFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <h5 class="col-md-5">Fecha Asamblea:</h5>
                            <div class="col-md-7">
                                @Html.DisplayFor(model => model.WorkPlan.AssemblyDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WorkPlan.AssemblyDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <h4>Liquidación del 2% ISR</h4>

                        <div class="col-md-5">
                            <h5 class="col-md-2">Estado</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Settlement.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Settlement.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-7">
                            <h4>Años pendientes</h4>
                            <div class="col-md-3">
                                <h5 class="col-md-2">Año</h5>
                                <div class="col-md-8">
                                    @Html.DisplayFor(model => model.Settlement.Year, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Settlement.Year, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h5 class="col-md-2">Saldo</h5>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.EconomicReport.Balance, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EconomicReport.Balance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Liquidación del 2018</h4>

                        <div class="col-md-4">
                            <h5 class="col-md-3">Estado</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Settlement.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Settlement.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <h5 class="col-md-8">Fecha de recibido</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Settlement.DateReceived, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Settlement.DateReceived, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Informe Economico</h4>

                        <div class="col-md-3">
                            <h5 class="col-md-3">Estado</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.EconomicReport.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EconomicReport.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="col-md-2">
                                <h5 class="col-md-3">Año</h5>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.EconomicReport.Year, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EconomicReport.Year, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <h5 class="col-md-3">Saldo</h5>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.EconomicReport.Balance, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EconomicReport.Balance, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-7">
                                <h5 class="col-md-5">Fecha recibido</h5>
                                <div class="col-md-4">
                                    @Html.DisplayFor(model => model.EconomicReport.DateReceived, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EconomicReport.DateReceived, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4>Liquidación Cemento 2018</h4>

                        <div class="col-md-4">
                            <h5 class="col-md-3">Estado</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.ConcreteLiquidation.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConcreteLiquidation.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <h5 class="col-md-8">Fecha de recibido</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.ConcreteLiquidation.DateReceived, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConcreteLiquidation.DateReceived, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <h4>Estado General</h4>

                        <div class="col-md-10">
                            <h5 class="col-md-4">Estado</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <br />
            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Plan de trabajo en copia del acta</h4>

                        <div class="col-md-3">
                            <h5 class="col-md-3">Estado</h5>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.WorkPlan.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WorkPlan.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <h5 class="col-md-7">Fecha de recibido</h5>
                            <div class="col-md-5">
                                @Html.DisplayFor(model => model.WorkPlan.AssemblyDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WorkPlan.AssemblyDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <select name="active">
                            <option value="active">Activa</option>
                            <option value="inactive">Inactiva</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">

                        <div class="col-md-4">
                            <div class=" form-group ">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3 ">
                                        <button class="form-horizontal btn btn-default" type="submit">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class=" form-group ">
                                <div class="row ">
                                    <div class="col-sm-6 col-sm-offset-3 ">
                                        <button class="form-horizontal btn btn-default" type="submit">Generar PDF</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Cancelar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
