@model IEnumerable<OCFG.Models.Association>
@using System.Linq

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br/>
        <h2>Búsqueda de Asociaciones</h2>
        <hr />
        <form action="Association/Search" method="post" role="form" style="display: block;">
            <h4>Filtrar por: </h4>
            <select name="filter">
                <option value="name">Nombre</option>
                <option value="cod">Código de Registro</option>
                <option value="canton">Cantón</option>
                <option value="region">Región</option>
                <option value="province">Provincia</option>
            </select>
            <input type="text" required name="search" title="En este espacio solo se permite ingresar letras"
                   id="search" tabindex="2" class="form-control" placeholder="">
            <br>
            <div class=" form-group ">
                <div class="row ">
                    <div class="col-sm-6 col-sm-offset-3 ">
                        <button class="form-horizontal btn btn-default" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <table class="table">
                <tr>
                    <th>
                        C&oacute;digo de registro
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Cant&oacute;n
                    </th>
                    <th>
                        Regi&oacute;n
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Activa
                    </th>
                    <th>
                        Provincia
                    </th>
                    <th></th>
                </tr>
                @if (!Model.Any())
                {
                    foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canton)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.RegistryCode })
                    </td>
                </tr>
                    }
                    <tr><td colspan="4">No hay datos disponibles</td></tr>
                }
                else
                {
                    foreach (var item in Model){

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistryCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Canton)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Region)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province)
                        </td>
                        <td>
                            @Html.ActionLink("Insertar Nueva Asociación", "Create")
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
    </div>
}