@model IEnumerable < OCFG.Models.Employee>
@using System.Linq


<h2>Buscar funcionario</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal card-block p-0">
    <form action="Administrator/Search" method="post" role="form" style="display: block;">
        <div class="row">

            <div class="col-md-8">
                <h5>Filtros:</h5>
                <br />
                <select name="filter">
                    <option value="name">Nombre</option>
                    <option value="cod">Apellidos</option>
                    <option value="canton">Cédula</option>
                </select>
                <br />
            </div>
            <br />
            <br />
            <div class="col-md-8">
                <input type="text" required name="search"
                       id="search" tabindex="2" class="form-control" placeholder="">
            </div>
            <div class="col-md-4">
                <div class=" form-group ">
                    <div class="row ">
                        <div class="col-sm-6 col-sm-offset-3 ">
                            <button class="form-horizontal btn btn-default" type="submit">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" form-group ">
                    <div class="row ">
                        <div class="col-sm-9 col-sm-offset-3 ">
                            <h5>@Html.ActionLink("Ingresar Nuevo Funcionario", "Create", "Employee")</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</form>

    <table class="table table-bordered table-sm m-0">
        <thead class="table-info">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Cédula
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Correo
                </th>
                <th>

                </th>
            </tr>
        </thead>
        @if (!Model.Any())
        {
            <tr><td colspan="4">No hay datos disponibles</td></tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCard)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        @Html.DisplayFor(modelItem => item.Status)
                        @if (item.Status == 0)
                        {
                            <td>
                               <label class="switch">
                                   <input type="checkbox">
                                   <span class="slider round"></span>
                               </label>|
                                @Html.ActionLink("Ver", "Details", new { id = item.IdCard }) |

                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("Habilitar", "Enable", new { id = item.IdCard }) |
                                @Html.ActionLink("Ver", "Details", new { id = item.IdCard }) 
                            </td>
                        }
                    </tr>
                </tbody>
            }
        }

    </table>
    <div>
        @Html.ActionLink("Volver al menú principal", "Menu")
    </div>
</div>
}