@model IEnumerable<OCFG.Models.Association>
@using System.Linq
@{
    Layout = null;

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="row">
    <div class="col-sm-4">
        <img src="~/Content/image/logDinadeco.png" style="width:20%" />
    </div>
    <div class="col-sm-4 text-center">
        <h2>Reporte general de asociaciones</h2>
    </div>
    <div class="col-sm-4">
        <h5>Fecha de servidor: @ViewBag.Message </h5>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th class="text-center">
            <p> Código de registro </p>
        </th>
        <th class="text-center">
            <p> Nombre </p>
        </th>
        <th class="text-center">
            <p> Región </p>
        </th>
        <th class="text-center">
            <p> Cantón </p>
        </th>
        <th class="text-center">
            <p> Estado </p>
        </th>
        <th class="text-center">
            <p> Actividad </p>
        </th>
        <th class="text-center">
            <p> Pronvincia </p>
        </th>
        <th class="text-center">
            <p> Cédula Jurídica </p>
        </th>
        <th class="text-center">
            <p> Superavit </p>
        </th>
        <th class="text-center">
            <p> Ideonidad </p>
        </th>
        <th class="text-center">
            <p> Declaración Jurada </p>
        </th>
        <th class="text-center">
            <p> Tipo </p>
        </th>
        <th class="text-center">
            <p> Reporte Económico </p>
        </th>
        <th class="text-center">
            <p> Fecha Recibido </p>
        </th>
        <th class="text-center">
            <p> Año </p>
        </th>
        <th class="text-center">
            <p> Balance </p>
        </th>
        <th class="text-center">
            <p> Estado </p>
        </th>
        <th class="text-center">
            <p> Impuesto </p>
        </th>
        <th class="text-center">
            <p> Fecha de Recibido </p>
        </th>
        <th class="text-center">
            <p> Año </p>
        </th>
        <th class="text-center">
            <p> Estado </p>
        </th>
        <th class="text-center">
            <p> Plan de Trabajo </p>
        </th>
        <th class="text-center">
            <p> Fecha de Asamblea </p>
        </th>
        <th class="text-center">
            <p> Estado </p>
        </th>
        <th class="text-center">
            <p> Liquidación de Concreto </p>
        </th>
        <th class="text-center">
            <p> Fecha de Recibido </p>
        </th>
        <th class="text-center">
            <p> Año </p>
        </th>
        <th class="text-center">
            <p> Estado </p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.RegistryCode)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Canton)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.LegalDocument)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Superavit)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Adequacy)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Affidavit)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="text-center">
                @Html.DisplayText(" ")
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.EconomicReport.DateReceived)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.EconomicReport.Year)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.EconomicReport.Balance)
            </td>
            <td class="text-center">
                @if (item.EconomicReport.Status.Equals('N'))
                {
                    <p>Pendiente</p>
                }
                else
                {
                    <p>Al día</p>
                }
            </td>
            <td class="text-center">
                @Html.DisplayText(" ")
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Settlement.DateReceived)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Settlement.Year)
            </td>
            <td class="text-center">
                @if (item.Settlement.Status.Equals('N'))
                {
                    <p>Pendiente</p>
                }
                else
                {
                    <p>Al día</p>
                }
            </td>
            <td class="text-center">
                @Html.DisplayText(" ")
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.WorkPlan.AssemblyDate)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.WorkPlan.Status)
            </td>
            <td class="text-center">
                @Html.DisplayText(" ")
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ConcreteLiquidation.DateReceived)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ConcreteLiquidation.Year)
            </td>
            <td class="text-center">
                @if (item.ConcreteLiquidation.Status.Equals('N'))
                {
                    <p>Pendiente</p>
                }
                else
                {
                    <p>Al día</p>
                }
            </td>
        </tr>
    }

</table>
