<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OCFG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="~/Views/Home"><img src="~/Content/image/logDinadeco.png" alt="DINADECO" style="width:65%" /></a>
                </div>
                <div class="col-md-4">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Correo", "Index", "Home")</li>
                            <li>@Html.ActionLink("Transparencia", "About", "Home")</li>
                            <li>@Html.ActionLink("Temática", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Quienes somos", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Servicios", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="#"><img src="~/Content/image/icoLog.png" alt="Log In" style="width:25%"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; @DateTime.Now.Year - DINADECO</p>
                </div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoFA.png" alt="Facebook" style="width:60%"/></a></div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoTw.png" alt="Twitter" style="width:60%"/></a></div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoYt.png" alt="Youtube" style="width:60%"/></a></div>
            </div>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
