<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OCFG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav  class="navbar navbar-expand-xl">
        <div class="container">
            <div class="row">
                <div class="col-md-4" align="left">
                    <a href="~/Views/Home"><img src="~/Content/image/logDinadeco.png" alt="DINADECO" style="width:65%" /></a>
                </div>
                <div class="col-md-6" align="right">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>@Html.ActionLink("Correo", "Index", "Home")</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>@Html.ActionLink("Transparencia", "About", "Home")</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>@Html.ActionLink("Temática", "Contact", "Home")</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>@Html.ActionLink("Quienes somos", "Contact", "Home")</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>@Html.ActionLink("Servicios", "Contact", "Home")</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" align="center">
                    <a href="#"><img src="~/Content/image/icoLog.png" alt="Log In" style="width:25%"/></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; @DateTime.Now.Year - DINADECO</p>
                </div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoFA.png" alt="Facebook" style="width:60%"/></a></div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoTw.png" alt="Twitter" style="width:60%"/></a></div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoYt.png" alt="Youtube" style="width:60%"/></a></div>
            </div>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
