<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OCFG</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/example/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/example/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/example/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/example/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/example/scss/animate.min.css">
    <link rel="stylesheet" href="~/Content/example/css/main.css">
    <link rel="stylesheet" href="~/Content/example/css/linearicons.css">

</head>
<body>
        <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="container">
                <div class="col-md-3" align="left">
                    <a href="/Home/Index"><img src="~/Content/image/logDinadeco.png" alt="DINADECO" style="width:85%" /></a>
                </div>
                <div class="col-md-7 text-center" align="center">
                    <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li><h5>@Html.ActionLink("Correo", "Index", "Home")</h5></li>
                            <li><h5>@Html.ActionLink("Transparencia", "About", "Home")</h5></li>
                            <li><h5>@Html.ActionLink("Temática", "Contact", "Home")</h5></li>
                            <li><h5>@Html.ActionLink("Quienes somos", "Contact", "Home")</h5></li>
                            <li><h5>@Html.ActionLink("Servicios", "Contact", "Home")</h5></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2" align="right">
                   <a href="/Login/Create"><img src="~/Content/image/icoLog.png" alt="Log In" style="width:30%" /></a>
                </div>
            </div>
        </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; @DateTime.Now.Year - DINADECO</p>
                </div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoFA.png" alt="Facebook" style="width:60%"/></a></div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoTw.png" alt="Twitter" style="width:60%"/></a></div>
                <div class="col-md-1"><a href="#"><img src="~/Content/image/icoYt.png" alt="Youtube" style="width:60%"/></a></div>
            </div>
           
        </footer>
    </div>
</body>
</html>
